/*
!/.gitignore
!/LICENSE
!/README.md
!/.readthedocs.yaml
!/requirements.txt
!/doc/
!/src/

/doc/**/*
!/doc/README.rst
!/doc/README.md

/src/**/*
!/src/**/*/
!/src/conf.py
!/src/**/*.rst
!/src/**/*.md
!/src/_static/css/*.css
!/src/_static/js/*.js
!/src/pns/*/**/*.py
!/src/jpl/*/**/*.ipynb

/src/pns/**/_*/
/src/jpl/**/.ipynb_checkpoints/