/*
!/.gitignore
!/LICENSE
!/README.md
!/.readthedocs.yaml
!/requirements.txt
!/doc/
!/src/

/doc/**/*
!/doc/README.rst

/src/**/*
!/src/**/*/
!/src/conf.py
!/src/index.rst
!/src/*/**/*.rst
!/src/nps/JLPy/**/*.py
!/src/jpl/*/**/*.ipynb
!/src/jpl/*/**/*.md

/src/nps/**/*.rst
!/src/nps/index.rst

/src/pns/_*/
/src/jpl/**/.ipynb_checkpoints/